.agenda-section-bg {
    background-color: #2F2C7E ;
    margin-top: 10%;
    padding: 5em 0;
    width: 100%;
}

.agenda-section {
    margin-top: 0;
}

.agenda-section h2, .agenda-section a {
    color: white;
}

.events-list {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
    margin-bottom: 3em;
}

.events-list li {
    background-color: white;
    border-radius: 10px;
    /* overflow: hidden; */
}

.activity1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.activity1 img {
    width: 100%;
    border-radius: 10px 10px 0 0;
} 

.activity2 img, .activity3 img {
    border-radius: 10px 0 0 10px;
}

.activity1 h3 {
    text-align: center;
    padding: 5% 5% 0 5%;
}

.activity1 .cards-info {
    margin-inline: 8%;
    position: relative;
    bottom : 13%;
    height: 50%;
}

.events-list li:not(:first-of-type) {
    display: flex;
}

.events-list li:not(:first-of-type) ol {
    padding-inline: 1.5em;
}

.cards-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

.cards-info img {
    width: 23px;
    border-radius: 0;
}

.cards-info h3 {
    margin-bottom: 10%;
}

.info-line {
    display: flex;
    gap: 5%;
    align-items: center;
}

.cards-info .button {
    margin-top: 8%;
    width: 100%;
}

.all-events {
    display: flex;
    justify-content: end;
    /* font-size: 20px; */
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

.all-events:hover {
    text-decoration: underline;
}
