.arrow-up-section {
    display: flex;
    justify-content: right;
    margin-top: 4rem;
}

.arrow-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    }

.arrow-up a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
}
    
.arrow-up a img {   
    background-color: #2F2C7E ;
    border-radius: 50%;
    border: 5px solid #2F2C7E;
    height: 100%;
    width: 100%;
}

@media (hover: hover) {
    .arrow-up a img:hover, .arrow-up a img:focus {
        cursor: pointer;
        border: 5px solid #FBE11A;
    }
}


@media screen and (max-width: 550px) {
    .arrow-up-section {
        margin-top: 2rem;
    }
    .arrow-up {
        width: 50px;
        height: 50px;
    }       
}