.App {
    width: 100%;
    height: auto;
}

.slick-slider.slick-initialized{ /* class css du slider à retrouver dans l'inspecteur */
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}
.container-carousel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.slick-track{
    display: flex;
    gap: 2rem;

}

.slick-slide {
    display: flex;
    
}
.slick-slide img  {
    width: 50%;
    height: auto;
}

.carousel-slides {
    display: flex !important;
    justify-content: center;
    gap: 1.2rem;
}

.carouselBookInformation{
    width: 10rem;
    text-align: left;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.carousel-author {
    font-size: 0.8rem;
}

.slick-arrow::before {
    color: black;
    font-size: 2rem;
}

.book_title_style {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.carousel-title-book {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.carousel-author {
    font-size: 1rem;
}

.title_carousel {
    padding:  0 1rem;
}

.slick-dots {
    bottom : -4.5rem;
}

.slick-dots li {
    border: none;
    background: white;
    width: 30px;
    height: 30px;
    border: 2px solid #2F2C7E;
    border-radius: 50%;
}

.slick-dots li button {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 50%;
}

.slick-dots li button:before {
    width: 100%;
    height: 100%;
    content: none;
}

.slick-dots .slick-active {
    background: #2F2C7E;
}

.slick-prev::before, .slick-next::before {
    font-size: 2.375rem;
    display: block;
    font-family: revicons;
    position: relative;
    text-align: center;
    z-index: 2;
    opacity: 1;
}

.slick-prev::before {
    content: '\e824';
}

.slick-next::before {
    content: '\e825';
}

.slick-list {
    width: 90%;
    align-self: center;
}