.nav-principal {
    background-color: #2F2C7E;
    padding-inline: 13%;
}

.nav-principal > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-principal > ul > li {
    position: relative;
}

.button-nav {
    margin-block: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-size: 1.25rem ;
    background-color: transparent;
}

.open, .button-nav:hover, .button-nav:focus {
    cursor: pointer;
    background-color: #FBE11A;
    text-decoration: none;
    color: #292929;
}

.second-chain {
    position: absolute;
    background-color: #FBE11A;
    padding: 1rem;
    top : 3rem;
    border-radius: 0rem 0.3rem 0.3rem  0.3rem;
    color: #292929;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% + 2rem);
    min-width: max-content;
    z-index: 1;
}

.second-chain a {
    color: #292929;
}

 /* .ListHover {
    display: flex;
    padding: 1.5625rem 5.375rem;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    align-self: stretch;
}
.ListItem, .ListItem a {
    font-size: 1.2rem;
    text-decoration: none;
    background-color: transparent                                                                              ;        
    color: white;
}
.ListItem {
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: auto;
}

.linkForList{
    position: relative;
}



.DetailsList{
    position: absolute;
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #2F2C7E;
    width: max-content;
    z-index: 3;
}

.li:hover {
    background-color: #24225a;
    width: 100%;
    height: 100%;  
}

.ChevronBottom{
    color: white;
}

.linkForList {
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.CloseIcone{
   display: none;
}

.CloseIcone svg:hover{
    cursor: pointer; 
}

.li a {
    font-size: 1rem ;
    color: white;
} 
.arrowToBottom{
    display: none;
}


@media screen and (max-width: 1144px) {
    .ListHover {
        padding: 1.5625rem 0;
        gap: 1.5rem;
    }
} 
@media screen and (max-width: 960px) {
    .nav-principal {
        display: none;
    }
} 

@media screen and (max-width: 880px) {
    .nav-principal {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 4;
        width: 100%;
        padding: 1.2rem;
        min-height: 100vh;
        height: auto;
        position: absolute;
        top: 0;
       
    }
    .DetailsList{
        position: static;
        list-style: none;
        display: none;
    }

    .DetailsList.open   {
       display: flex;
    }
    .ListHover {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 3rem;
        gap: 1.5rem;
    }

    .List {
        font-size: 1.5rem; 
    }
    .arrowToBottom{
        display: flex;
    }
    .arrowToBottom:hover{
        cursor: pointer;
    }
    .CloseIcone{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }
    
} 
 */
