footer {
    background-color: #2F2C7E;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 5.5% 4% 4% 4%;
    gap:calc( 5% + 10px);
    color: white;
    margin-top: 12%;
}

footer h3{
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.contacts-links {
    display: grid;
    grid-template-columns: 2fr 1px 1fr;
    gap: 10%;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address {
    padding-left: 25%;
    padding-block: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.address p {
    /* font-size: 20px; */
    font-size: 1.25rem;
}

.links ul {
    padding-block: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.links a {
    /* font-size: 20px; */
    font-size: 1.25rem;
}

.socials ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.footer-second-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

form {
    display: grid;
    grid-auto-rows: auto;
}

.newsletter-container{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.newsletter-container label{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.input-newsletter {
    width: 100%;
    display: flex;

}

.input-newsletter input[type="email"] {
    width: 75%;
    border-radius: 0.5em 0 0 0.5em;
    padding: 1em;
    /* font-size: 16px; */
    font-size: 1rem;
}

.input-newsletter .submit-newsletter {
    width: 25%;
    background-color: #FBE11A;
    border-radius: 0 0.5em 0.5em 0;
    /* font-size: 24px; */
    font-size: 1.5rem;
    height: 100%;
}

.checkbox-newsletter {
    display: flex;
    gap: 1.5%;
}

.checkbox-newsletter input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

.checkbox-newsletter input[type="checkbox"]::before{
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid #FBE11A;
    border-radius: 0.5em;
    background-color: transparent;
}
.checkbox-newsletter input[type="checkbox"]:checked:before{
    background-image: url(../../assets/check.svg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: end;
}

.logo ol {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo ol .bibli-logo-prog {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
    
.logo ol .bibli-logo-prog li {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
