.section-frontpage {
    display: flex;
    flex-direction: column;
}

.section-frontpage .section-title {
    margin-bottom: 2%;
}

.slider {
    margin:0 15px;
}
  
.slider img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-frontpage .react-multi-carousel-track {
    margin-bottom: 2%;
}
  
.section-frontpage .react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
}
  
.section-frontpage .custom-dot-list-style button{
    border: none;
    background: white;
    width: 30px;
    height: 30px;
    border: 2px solid #2F2C7E;
}

.section-frontpage .react-multi-carousel-dot-list {
    gap: 1%;
}

.section-frontpage .react-multi-carousel-dot.react-multi-carousel-dot--active button{
    background: #2F2C7E;
}

.section-frontpage .gd-carousel-wrapper {
    position:relative;
    width: 110%;
    align-self: center;
    display:grid;
}

.section-frontpage .gd-carousel {
    position:unset;
    margin-inline: 80px;
    overflow: hidden ;
    width: 80%;
    justify-self: center;
}

.section-frontpage .react-multiple-carousel__arrow {
    position:absolute;
    background: none;
    filter: brightness(0);
}

.section-frontpage .react-multiple-carousel__arrow::before {
    /* font-size: 38px; */
    font-size: 2.375rem;
}

.section-frontpage .react-multiple-carousel__arrow:hover {
    background: none;
}

.section-frontpage .react-multi-carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-frontpage .info-slider {
    padding-inline : 3rem;
    position: absolute;
    bottom: 15%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.info-slider h3 {
    text-align: center;
    height: 10vh;
}

.section-frontpage .button {
    position: absolute;
    bottom: -15px;
    border-radius: 10px;
}

@media screen and (max-width: 550px) {
    .info-slider {
        font-size: 1em;
        bottom: 1em;
        width: 100%;
    }

    .section-frontpage .button {
        padding: 0.5em 1em;
        bottom: -10px;
    }

    .custom-dot-list-style button {
        width: 18px;
        height: 18px;
    }
    
    .carousel-container {
            margin: 0.5em 0;
    }

    .react-multiple-carousel__arrow::before {
        font-size: 1.8rem;
    }

    .react-multiple-carousel__arrow--right {
        right: calc(4% - 20px);
    }

    .react-multiple-carousel__arrow--left {
        left: calc(4% - 20px);
    }

}