header {
    background-color: #FBE11A;
    padding: 0.5em 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-inline: 15%; */
    padding: 0 8%;
}



.search_bar_infos {
   
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    

}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.infos li {
    display: flex;
    align-items: center;
    
}
.infos li a {
    display: flex;
    align-items: center;
    gap: 0.2em;
    color: black;
}

.research {
    text-decoration: underline;
}

.logo_flex{
    
}
.NavAndSearchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.svgMenuBurger {
    display: none;
}



/* LE RESPONSIVE DE LA NAVBAR ////////////////////// */

/* taille de la navbar en bleue qui diminue */


/* ajout du menu burger, disposition en column du logo et de la bar de recherche */
@media screen and (max-width: 1050px) {
    .logo{
        width: 15rem;
        height: auto;
    }
    
}
@media screen and (max-width: 1000px) {
    .logo{
        width: 14rem;
        height: auto;
    }
    
}
@media screen and (max-width: 960px) {
    .header{
        flex-direction: column;
        gap: 1.6rem;
        padding: 0 5%;
        padding: 0 2%;
    }
    .search_bar_infos{
        padding-bottom: 0rem;
        width: 100%;

    }
    .infos {
        gap: 0.6em;
    }
    .svgMenuBurger {
        display: block;
        width: 10%;
        height: auto;
    }
    
}



@media screen and (max-width: 616px) {
    
    .infos li:last-child {
        display: none;
    }

    .infos {
        gap: 01rem;
    }

}
@media screen and (max-width: 446px) {
    
    .infos li a {
        font-size: 0.9rem;
    }

}
@media screen and (max-width: 400px) {
    
    .infos li a {
        font-size: 0.75rem;
    }

}


