.search-bar {
    display: flex;
    width: 100%;
}

.search, .search-catalogue select{
    background-color: #2F2C7E;
    color: white;
    padding: 0.85em 1.4em;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: space-between;
}

.search-catalogue {
    /* flex-grow: 1; */
    border-radius: 25px 0 0 25px;

    width: auto;
}

.search-button {
    /* flex-grow: 1; */
    border-radius: 0 25px 25px 0;

    width: auto;
    gap:0.5rem; 
}

.search-input {
    /* width: 180%; */
    flex-grow: 2;
    padding-inline: 2%;
    font-size: 1rem;
}

.search-catalogue select {
    padding: 0;
}

select option {
    width: 100%;
}

input {
    border: none;
}

.search-and-recommandations {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.recommandations {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 196px;
    top: 3rem;
    width: 60%;
    z-index: 20;
}

header .recommandations {
    /* margin-inline: 0 155px; */
    left: 0;
}

/* .recommandations ul {
    border-right: 3px solid #2F2C7E;
    border-left: 3px solid #2F2C7E;
    border-bottom: 3px solid #2F2C7E;
} */

.recommandations li button{
    background-color: white;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0;
}

.recommandations li {
    border: 2px solid #2F2C7E;
    border-bottom: 0;
}

.recommandations li:last-child {
    border-bottom: 2px solid #2F2C7E;
}

.recommandations li button:hover, .recommandations li button:focus {
    background-color: #2F2C7E;
    color: white;
}

/*  le responsive de la barre de recherche  */

@media screen and (max-width: 1050px) {
    .search{
        padding: 0.85rem 1.3rem;
    }

    /* header .recommandations{
        margin-right: 151px;
    } */
    

}
@media screen and (max-width: 1000px) {
    .search{
        padding: 0.85rem 1.2rem;
    }

    /* header .recommandations {
        margin-right: 148px;
    } */
}

@media screen and (max-width: 950px){
    .search-and-recommandations {
        width: 80%;
        justify-content: flex-end;
    }
    .recommandations{
        margin-left: 191px;
    }

    /* header .recommandations {
        margin-inline: 0;
    } */
}


@media screen and (max-width: 800px) {
    .recommandations{
        top: 2.5rem;
        margin-left: 175px;
    }

    .search {
       padding : 0.7rem;
    }
    .span{
        display: none;
    }
    .search-button {
        padding: 0.125rem 1.2rem;
    }  
}

@media screen and (max-width: 750px) {
    header .recommandations {
        /* margin-right: 57px; */
        left: unset;
        right: 56px;
        margin: 0;
    }
}

@media screen and (max-width: 655px) {
    .recommandations{
        top: 2.05rem;
        margin-right: 38px;
    }

    header .recommandations {
        right: 38px;
    }

    .recommandations li button{
        font-size: 0.75rem;
    }

    .search-bar {
        justify-content: flex-end;
    }

    .search-input {
        width: 7rem;
        font-size: 0.75rem;
    }
    .search-catalogue select{
        font-size: 0.9rem;
    }
    .search {
        padding : 0.4rem 0.6rem;
    }

    .search-button {
        padding-inline: 0.6rem;
    }
    
}
@media screen and (max-width: 480px) {
    .recommandations{
        top: 1.8rem;
        margin-right: 38px;
    }
    
    .search-catalogue select{
        font-size: 0.8rem;
    }
    .search{
        padding: 0.3rem 0.5rem;
    }
    .search-button {
        padding-inline: 0.6rem;
    } 
}

