.unfound-page {
    display: grid;
    margin-inline: 13%;
}

.unfound-page .return {
    display: flex;
    justify-content: left;
    gap: 1vw;
}

.unfound-page .return a {
    color: #292929;
}

.unfound-page .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unfound-page .main img {
    height: 45vw;
}

.unfound-page .button {
    margin-top: 5%;
    display: flex;
    justify-self: center;
    font-size: 1.5rem;
}

@media screen and (max-width: 550px) {
    .unfound-page {
        margin-top: 1em;
    }

    .unfound-page h2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .unfound-page .main img {
        width: 100%;
        height: auto;
    }

    .unfound-page .button {
        font-size: 0.875rem;
        padding: 6px 12px;
    }
}