.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filterMobile {
    width: 100%;
}

.SearchResult {
    text-align: center;
    margin-top: 7.5rem;
}
/* Style correspondant à la pagination et aux résultat en haut de la page recherche */
.container_numberOnTheTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Code pour la pagination de la liste des livres allant de 1 à 100 */
.pagination {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.pagination li {
    margin: 0 4px;
}

.pagination a,
.pagination span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    text-decoration: none;
    color: white;
    background-color: rgba(66, 55, 203, 1);
    border-radius: 8px;
    
}

.pagination .page {
    background-color: rgba(66, 55, 203, 1);
    color: white;
    transition: background-color 0.3s;
    padding: 1rem  1.2rem;
}

.pagination .page:hover,
.pagination .page:focus {
    text-decoration: none;
    border: 2px solid #4019FA;
    background-color: #EEF2FF;
    color: #4237CB; 
}

.pagination .active {
    background-color: rgba(66, 55, 203, 1);
}

.pagination .arrow {
    background-color: transparent;
    color: black;
    border-radius: 50%;
    width: 2px;
    height: 32px;
    font-size: 1.5em;
    
}
.pagination .arrow.left{
    margin-right: 2rem;
}
.pagination .arrow.right{
    margin-left: 2rem;
}

.pagination .arrow:hover,
.pagination .arrow:focus {
    background-color: #f0f0f0;
    outline: 2px solid #000; 
}

.pagination .dots {
    background-color: transparent;
    color: black;
}

/* ////////////////////////////////// */
/* Style correspondant au nombre de résultat en haut de la page recherche */
.numberOnTheTop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tenPerPage {
    display: flex;
    gap: 0.2rem;
    align-items: center;

}
.ten {
    text-decoration: underline;

}

.SecondLineFilter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tenPerPage img {
    width: 1.5rem;
    height: 1.5rem;

}

.Tri_Affichage{
    display: flex;
    gap: 3rem;
    align-items: center;

}
.filtreTri{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.filtreTri img {
    width: 1.5rem;
    height: 1.5rem;

}


/* ////////////////////////////////// */
/* Container des livres */
.container_searchpage {
    display: flex;
    justify-items: center;
    width: 100%;
    gap: 90px; 
    margin-top: 6rem;
    
}

.container_livres {
   width: 70%;
   padding-right: 3em;
}

.all_books{
    display: flex ;
    flex-direction: column;
    gap: 3rem;
}

.main-search-page h1 {
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 0.5em;
}

.ma_recherche {
    text-align: center;
    margin-bottom: 01em;
    font-size: 1.4em;

}

.btn_change {
    padding: 0.6rem;
    border-radius: 0.6em;
    border-style: none;
    background-color: rgba(66, 55, 203, 1);
    color: white;
    font-size: 1rem
}
.btn_change:hover {
    text-decoration: none;
    border: 2px solid #4019FA;
    background-color: #EEF2FF;
    color: #4237CB;
}

.DisplaySearchBtn {
    display: flex;
    padding: 0.5625rem 1.4375rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: #4237CB;
    border-style: none;
    color: #fff;
    font-size: 1rem;
}
.container_numberOnTheTop.deux{
    display: none;
}

.SecondLineFilter.deux {
    display: none;

}

/* Le responsive ////////// */

@media screen and (max-width: 1265px) {
    .container_livres {
        width: 60%;  
     }
}

@media screen and (max-width: 1065px) {
    .btn_change  {
        display: none;
    }
    .container_livres {
        width: 100%;  
        padding:2rem ;
    }
    .container_numberOnTheTop.One {
        display: none;
    }
    .container_numberOnTheTop.deux{
        display: flex;
        
     }
    .container_numberOnTheTop.deux p {
        font-size: 1.3rem;
    }
    .container_searchpage {
        margin-top: 0.2rem; 
    }
    .SecondLineFilter.deux {
        display: flex;
        gap: 0.2rem;
    
    }
    .SecondLineFilter.one {
        display: none;
    }
}

@media screen and (max-width: 795px) {
    h1{
        font-size: 1.8rem;
    }
    .ma_recherche{
        font-size: 1.3rem;
    
    }
}
@media screen and (max-width: 700px) {
    h1{
        font-size: 1.7rem;
    }
    .ma_recherche{
        font-size: 1.2rem;
    
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 1.6rem;
    }
    .ma_recherche{
        font-size: 1.1rem;
    
    }
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 1.5rem;
    }
    .ma_recherche{
        font-size: 1rem;
    
    }
}


@media screen and (max-width: 590px) {
    .container_livres {
        padding:1.5rem ;
    }
}

@media screen and (max-width: 520px) {
    .DisplaySearchBtn{
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.6rem;
    }
    .Tri_Affichage {
        gap: 1rem;
    }
    .container_numberOnTheTop.deux p{
        font-size: 1.2rem;
    
    }
}

@media screen and (max-width: 490px) {
    .pagination.bottom li {
        margin: 0px;
    }
    .pagination.bottom li a {
        font-size: 0.85rem;
        padding: 0.8rem 1rem;
    }
    .pagination.bottom {
        gap: 1rem;
    }
    .pagination .arrow.left{
        margin-right: 0rem;
    }
    .pagination .arrow.right{
        margin-left: 0rem;
    }
}

@media screen and (max-width: 450px) {
    h1{
        font-size: 1.3rem;
    }
    .ma_recherche{
        font-size: 1rem;
    
    }
}

@media screen and (max-width: 473px) {
    
    .Tri_Affichage{
        gap: 0.5rem;
    }
    .tenPerPage p{
        font-size: 0.95rem;
    }
    .tenPerPage {
        gap: 0.1rem;
    }
    .tenPerPage img {
        width: 1.2rem;
        height: 1.2rem;
    }
    .filtreTri p {
        font-size: 0.9rem;
    }
    .filtreTri  {
        gap: 0.1rem;
    }
    .filtreTri img {
        width: 1.2rem;
        height: 1.2rem;
    }
    .container_numberOnTheTop.deux p {
        font-size: 1rem;
    }
    .DisplaySearchBtn{
        padding: 0.4rem 1rem;
    }
    .container_livres {
        padding:1.1rem ;
    }
}

@media screen and (max-width: 420px) {
    .DisplaySearchBtn{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 395px) {
    .container_numberOnTheTop.deux p {
        font-size: 0.9rem;
    }
    h1{
        font-size: 1rem;
    }
    .ma_recherche{
        font-size: 0.8rem;
    
    }
}
@media screen and (max-width: 390px) {
    .tenPerPage p {
        font-size: 0.75rem;
    }
    .filtreTri p {
        font-size: 0.75rem;
    }
}
