.container {  /* main */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.singleBookPage-container .return {
    display: flex;
    justify-content: left;
    gap: 1vw;
    width: 80%;
    margin-top: 4rem;
}

.singleBookPage-container .return a {
    color: #292929;
}

.actions {
    width: 80%;
}

.actions ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 5%;
}

.actions li img {
    width: 30px;
    height: 30px;
}

.SingleBookPage {
    width: 75%;
    gap: 2rem;
    row-gap: 4rem;
}

.SingleBookPage {
    display: grid;
    grid-template-areas:
        "img details"
        ". description";
}

.book-details {  /* container avec toutes les informations du livres */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-details a {
    color: black;
    text-decoration: underline;
}

.availability-section .book-title {
    margin: 0;
    text-align: start;
    font-size: 1.625rem;
    padding-left: 1rem;
}

.book-cover {
    width: 15vw;
    min-width: 16rem;
    object-fit: contain;
}

.book-publisher {
    padding-top: 0.3rem;
    font-size: 1.25rem;
}

.rating {
    display: flex;
    align-items: end;
    gap: 0.6rem;
}

.rating-stars img {
    height: 1.8rem;
}

.reserve-button {
    padding: 1rem 2rem;
    border-style: none;
    font-size: 1.5rem;
}

.Book_informations{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* Container DESCRIPTION du livre*/
.description-section{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.description-section {
    grid-area: description;
}


.description-title{
    font-size: 1.5rem;
}
    
.description-section dl {
    display: grid;
    grid-auto-columns: max-content;
    column-gap: 1rem;
    row-gap: 0.5rem;
}
.description-section dt {
    grid-column: 1 / 2;
}

.description-section dd {
    grid-column: 2 / 3;
}

.label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 150px; /* Ensuring alignment */
}

.value {
    color: #333;
}

dt, dd {
    margin: 0;
}

dl {
    margin: 0;
}

/* ////////////////////////////////////// */
/* Disponibitlité container avec le tableau */
.availability-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.availability-title{
    padding: 0 1rem;
}

.tableTitles > tr > th:first-child {
    padding-left: 1rem;
}

.disponible_style{
    width: 100%;
    display: flex;
    align-items: center;
}

.disponible {
    color : #16651F;
    font-weight: 600;
}

.indisponible {
    color : #A60E0E;
    font-weight: 600;
}

.trait{
 flex-grow: 1;
 background-color: rgba(47, 44, 126, 1);
 height: 0.3rem;
 border-radius: 0.4rem;
}

.availability-table {
    border-collapse: collapse;
}

th {
    text-align: start;
    padding-block: 1rem;
    background-color: rgba(47, 44, 126, 1);
    color : white;
}

tbody > tr > td:first-child {
    padding-left: 1rem;
}

tbody > tr:first-of-type > td {
    padding-top: 0.8em;
}

.tr th:first-child {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;

}
.tr th:last-child {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

td {
    padding-block: 0.4rem;
}

/* ////////////////////////////////////// */
/* Section pour les avis  */

.CommentContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    align-items: center;
    justify-content: center;

}

#singlePageComments {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.containerAllComments {
    background-color: rgba(47, 44, 126, 1);
    padding: 2rem 3rem;
    height: auto;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.containerAllComments a {
    color: white;
    width: 100%;
    text-align: right;
}

.containerComments{
    display: flex;
    gap: 2rem;
    width:  100%;
    justify-items: center;
    align-content: center;
}

.CommentCard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #fff;
    padding: 1.3rem;
    border-radius: 0.5rem;

}

/* .commentHeader{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
} */

.commentHeader {
    display: grid;
    grid-template-areas: 
        "picture information"
        ". scoring";
    grid-template-columns: 0.2fr 1fr;
    column-gap: 1rem;
    row-gap: 0.3rem;
}

.commentScoring {
    grid-area: scoring;
    height: 1.5rem;
}

.commentPhoto {
    width: 100%;
    min-width: 50px;
}

.commentName {
    color: black;
    font-size: 1.25rem;
}

.commentNameDate {
    color:  #525252;
}

.comment-button {
    border-style: none;
}

.containerAllComments .commentMore {
    color : #4237CB;
    text-decoration: underline;
}

.containerAllComments h3 {
    color: white;
    margin-bottom: 1rem;
}

.containerAllComments form {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerAllComments form legend  {
    font-size: 1rem;
    color: #292929;
}

:root{
    --star-rating-size: 5rem;
    --unchecked-image: url('data:image/svg+xml,<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7332 9.85565L16.1479 1.99485C15.7922 1.21481 14.684 1.21481 14.3283 1.99485L10.743 9.85565C10.5805 10.212 10.2249 10.4407 9.83318 10.4407H2.52783C1.62141 10.4407 1.1826 11.5499 1.8437 12.17L7.67185 17.6368C7.93365 17.8823 8.04376 18.2494 7.96035 18.5985L6.21173 25.9178C6.0145 26.7434 6.87065 27.4238 7.63036 27.0452L14.7921 23.4765C15.073 23.3365 15.4032 23.3365 15.6841 23.4765L22.8458 27.0452C23.6055 27.4238 24.4617 26.7434 24.2645 25.9178L22.5112 18.579C22.4303 18.2404 22.5313 17.8841 22.7779 17.6383L28.2859 12.149C28.9175 11.5195 28.4717 10.4407 27.58 10.4407H20.643C20.2513 10.4407 19.8957 10.212 19.7332 9.85565Z" stroke="%23362FA4" stroke-width="2"/></svg>');
    --checked-image: url('data:image/svg+xml,<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.0703 9.8441L15.6452 2.07539C15.2945 1.27995 14.1658 1.27995 13.8151 2.07539L10.39 9.8441C10.2301 10.2067 9.87126 10.4407 9.47499 10.4407H2.46657C1.56839 10.4407 1.12559 11.5329 1.7702 12.1584L7.42046 17.641C7.67179 17.8849 7.77724 18.2424 7.69843 18.5837L6.0094 25.8974C5.81776 26.7272 6.68493 27.4015 7.44194 27.0112L14.272 23.4904C14.5595 23.3422 14.9009 23.3422 15.1884 23.4904L22.0184 27.0112C22.7754 27.4015 23.6426 26.7272 23.4509 25.8974L21.7574 18.5644C21.681 18.2336 21.7776 17.8867 22.014 17.6431L27.3547 12.1369C27.9699 11.5027 27.5205 10.4407 26.6369 10.4407H19.9853C19.5891 10.4407 19.2302 10.2067 19.0703 9.8441Z" fill="%232906D1" stroke="%232906D1" stroke-width="2"/></svg>');
     --hovered-image: url('data:image/svg+xml,<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.0703 9.8441L15.6452 2.07539C15.2945 1.27995 14.1658 1.27995 13.8151 2.07539L10.39 9.8441C10.2301 10.2067 9.87126 10.4407 9.47499 10.4407H2.46657C1.56839 10.4407 1.12559 11.5329 1.7702 12.1584L7.42046 17.641C7.67179 17.8849 7.77724 18.2424 7.69843 18.5837L6.0094 25.8974C5.81776 26.7272 6.68493 27.4015 7.44194 27.0112L14.272 23.4904C14.5595 23.3422 14.9009 23.3422 15.1884 23.4904L22.0184 27.0112C22.7754 27.4015 23.6426 26.7272 23.4509 25.8974L21.7574 18.5644C21.681 18.2336 21.7776 17.8867 22.014 17.6431L27.3547 12.1369C27.9699 11.5027 27.5205 10.4407 26.6369 10.4407H19.9853C19.5891 10.4407 19.2302 10.2067 19.0703 9.8441Z" fill="%232906D1" stroke="%232906D1" stroke-width="2"/></svg>');
    --max-stars: 5;
}

.star-rating{
    width: 100%;
    border-style: none;
}

.legend-and-ratings {
    display: flex;
    align-items: end;
    gap : 0.5rem;
}

.star-rating>div>div {
    position: relative;
    height: 1.75rem;
    width: 8.75rem;
    background-image: url('data:image/svg+xml,<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7332 9.85565L16.1479 1.99485C15.7922 1.21481 14.684 1.21481 14.3283 1.99485L10.743 9.85565C10.5805 10.212 10.2249 10.4407 9.83318 10.4407H2.52783C1.62141 10.4407 1.1826 11.5499 1.8437 12.17L7.67185 17.6368C7.93365 17.8823 8.04376 18.2494 7.96035 18.5985L6.21173 25.9178C6.0145 26.7434 6.87065 27.4238 7.63036 27.0452L14.7921 23.4765C15.073 23.3365 15.4032 23.3365 15.6841 23.4765L22.8458 27.0452C23.6055 27.4238 24.4617 26.7434 24.2645 25.9178L22.5112 18.579C22.4303 18.2404 22.5313 17.8841 22.7779 17.6383L28.2859 12.149C28.9175 11.5195 28.4717 10.4407 27.58 10.4407H20.643C20.2513 10.4407 19.8957 10.212 19.7332 9.85565Z" stroke="%23362FA4" stroke-width="2"/></svg>');
    background-size: 1.75rem 1.75rem;
}

.star-rating label {
    position: absolute;
    height: 100%;
    background-size: 1.75rem 1.75rem;
}

.star-rating label:nth-of-type(1) {
    z-index: 10;
    width: 1.75rem;
}

.star-rating label:nth-of-type(2) {
    z-index: 9;
    width: 3.5rem;
}

.star-rating label:nth-of-type(3) {
    z-index: 8;
    width: 5.25rem;
}

.star-rating label:nth-of-type(4) {
    z-index: 7;
    width: 7rem;
}

.star-rating label:nth-of-type(5) {
    z-index: 6;
    width: 8.75rem;
}

.star-rating input:checked + label,
.star-rating input:focus + label, .star-rating input:checked + label:hover,
.star-rating label:hover{
    background-image: url('data:image/svg+xml,<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.0703 9.8441L15.6452 2.07539C15.2945 1.27995 14.1658 1.27995 13.8151 2.07539L10.39 9.8441C10.2301 10.2067 9.87126 10.4407 9.47499 10.4407H2.46657C1.56839 10.4407 1.12559 11.5329 1.7702 12.1584L7.42046 17.641C7.67179 17.8849 7.77724 18.2424 7.69843 18.5837L6.0094 25.8974C5.81776 26.7272 6.68493 27.4015 7.44194 27.0112L14.272 23.4904C14.5595 23.3422 14.9009 23.3422 15.1884 23.4904L22.0184 27.0112C22.7754 27.4015 23.6426 26.7272 23.4509 25.8974L21.7574 18.5644C21.681 18.2336 21.7776 17.8867 22.014 17.6431L27.3547 12.1369C27.9699 11.5027 27.5205 10.4407 26.6369 10.4407H19.9853C19.5891 10.4407 19.2302 10.2067 19.0703 9.8441Z" fill="%232906D1" stroke="%232906D1" stroke-width="2"/></svg>');
}
            
.star-rating input:focus + label{
    outline: 0.25rem solid lightblue;
}

.star-rating input,
.star-rating label>span{
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px); 
    clip-path: inset(50%); 
    white-space: nowrap; 
}

.comment-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    min-width: min-content;
    position: relative;
}

.comment-description textarea {
    width: 100%;
    height: 15vh;
    padding: 1rem;
    border-radius: 0.5rem;
}

.comment-description p {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.same-author h2, .suggestions h2 {
    font-size: 2rem;
}

.suggestions {
    margin-top: 4rem;
}

@media screen and (max-width: 950px) {
    .singleBookPage-container .return, .SingleBookPage, .availability-section, .CommentContainer {
        width: 90%;
    }

    .containerAllComments {
        padding: 1.5rem 2rem;
    }

    .actions {
        display: none;
    }

    .singleBookPage-container .return {
        margin-block: 1rem 2rem;
    }

    .Book_img {
        display: flex;
        justify-content: center;
    }

    .book-cover{
        height: 40vh;
        width: auto;
        max-width: 80%;
        object-fit: contain;
    }

    .book-details {
        margin-top: 1rem;
        gap : 1.5rem;
    }

    .reserve-button {
        width: 100%;
    }

    .description-section {
        margin-top: 3rem;
    }

    .SingleBookPage, .description-section dl {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    .SingleBookPage > img {
        align-self: center;
    }

    .availability-section .book-title {
        background-color: #2F2C7E;
        color: white;
        padding: 0.8rem;
        border-radius: 0.5rem;
    }

    .containerComments {
        flex-direction: column;
        gap: 2rem;
    }

    .commentNameDate {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .suggestions {
        margin-bottom: 5rem;
    }

    .library {
        font-weight: bold;
    }

    .disponibility {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .availability-row {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .availability-row img {
        width: 1.25rem;
    }

    .return-date {
        font-style: italic;
    }

    .availability-section ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 1rem;
    }

    .availability-section ul li {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .commentHeader {
        column-gap: 0.3rem;
    }
}

@media screen and (max-width: 550px) {

    .singleBookPage-container h3, .availability-section .book-title, .commentName, .container-carousel h2 {
        font-size: 1rem;
    }

    .book-author, .commentDate, .description-section dt, .containerAllComments form legend, .comment-description label, .comment-button {
        font-size: 0.875rem;
    }
    
    .return a, .book-publisher, .availability-text, .reserve-button, .description-section dd, .comment-description textarea{
        font-size: 0.75rem;
    }

    .description-section {
        gap: 1.5rem;
    }

    .SingleBookPage, .description-section dl {
        row-gap: 0rem;
    }

    .SingleBookPage, .description-section dl dd {
        margin-block: 0.4rem 0.8rem;
    }

    .commentScoring {
        height: 1.25rem;
    }

    .legend-and-ratings {
        flex-direction: column;
        align-items: start;
    }
}
