*{
  margin: 0;
  padding: 0;
  box-sizing : border-box;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

section{
  margin-inline: 13%;
  margin-top: 10%;
}

.section-title {
  display: flex;
  gap: 4%;
  margin-bottom: 6%;
  align-items: center;
}

.button {
  background-color: #4237CB;
  width: fit-content;
  height: fit-content;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
*/

 /* pour le carousel dans la partie livre */

 .carousel-container {
  margin: 20px 0;
}

.carousel-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.carousel-slide {
  text-align: center;
}

.carousel-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.carousel-book-title {
  font-size: 16px;
  font-weight: bold;
}

.carousel-book-author {
  font-size: 14px;
  color: gray;
}