*{
  margin: 0;
  padding: 0;
  box-sizing : border-box;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

section{
  margin-inline: 15%;
  margin-top: 10%;
}

.section-title {
  display: flex;
  gap: 4%;
  margin-bottom: 6%;
  align-items: center;
}

.button {
  background-color: #4237CB;
  width: fit-content;
  height: fit-content;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
}